{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Our Brokers</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Broker</th>
                <th>Rebate</th>
                <th>Promotions</th>
                <th>Min Deposit / Max Leverage</th>
                <th>Regulations</th>
                <th>Accepts US Clients</th>
                <th>Year Founded</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            {% for broker in brokers %}
                <tr>
                    <td>
                        <a href="{{ path('broker_view', {slug: broker.slug}) }}">
                            <b>{{ broker.name }}</b><br />
                            <img src="{{ asset(broker.rectangleImagePath) }}">
                        </a>
                    </td>
                    <td>{{ broker.rate }}</td>
                    <td>
                        {% if broker.promotions|length %}
                            <ul>
                                {% for promotion in broker.promotions %}
                                    <li><a href="{{ path('promotion_view', {slug: promotion.slug}) }}">{{ promotion.title }}</a>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{{ broker.minDeposit }} / {{ broker.maxLeverage }}</td>
                    <td>
                        {% for regulation in broker.regulations %}
                            <a href="{{ regulation.url ?: regulation.regulator.url }}"><abbr title="{{ regulation.regulator.name }}">{{ regulation.regulator.abbr }}</abbr></a>
                        {% else %}
                            N/A
                        {% endfor %}
                    </td>
                    <td>{{ broker.usClients ? 'Yes' : 'No' }}</td>
                    <td>{{ broker.yearFounded }}</td>
                    <td>
                        <a href="{{ broker.referralLink }}" class="btn btn-success btn-mini">Website</a>
                        <br />
                        <a href="{{ path('broker_view', {slug: broker.slug}) }}" class="btn btn-info btn-mini">Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
