{% extends "ForexWebBundle:Layout:base.html.twig" %}

{% block content %}
    <h2>Our Brokers</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Regulations</th>
                <th>Min Deposit</th>
                <th>Max Leverage</th>
                <th>Accepts US Clients</th>
                <th>Spread</th>
                <th>Currency Holdings</th>
                <th>Website</th>
                <th>Year Founded</th>
            </tr>src/Forex/Bundle/CoreBundle/Entity/Broker.php
        </thead>
        <tbody>
            {% for broker in brokers %}
                <tr>
                    <td>
                        <a href="{{ path('broker_view', {slug: broker.slug}) }}">
                            <b>{{ broker.name }}</b><br />
                            <small class="muted">{{ broker.companyName }}</small><br />
                            <img src="{{ asset(broker.rectangleImagePath) }}">
                        </a>
                    </td>
                    <td>
                        {% for regulation in broker.regulations %}
                            <a href="{{ regulation.url ?: regulation.regulator.url }}"><abbr title="{{ regulation.regulator.name }}">{{ regulation.regulator.abbr }}</abbr></a>
                        {% else %}
                            N/A
                        {% endfor %}
                    </td>
                    <td>{{ broker.minDeposit }}</td>
                    <td>{{ broker.maxLeverage }}</td>
                    <td>{{ broker.usClients ? 'Yes' : 'No' }}</td>
                    <td><a href="{{ broker.spreadLink }}">{{ broker.spread ?: 'Spread Link' }}</a></td>
                    <td>
                        {% for currency in broker.equityHoldingCurriencies %}
                            <abbr title="{{ currency.name }}">{{ currency.abbr }}</abbr>
                        {% else %}
                            N/A
                        {% endfor %}
                    </td>
                    <td>{{ broker.website }}</td>
                    <td>{{ broker.yearFounded }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
