{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block title %}{{ broker.name }} - {% endblock %}
{% block meta_description %}Forex Rebates for {{ broker.name}}{% endblock %}

{% block content %}
    <h2 class="subtitle"><a class="text-success" href="{{ broker.referralLink }}" style="font-size:62px; line-height: 50px;">{{ broker.name }}</a></h2>
    <a href="{{ broker.referralLink }}" class="btn btn-primary btn-large" style="margin-bottom: 15px;">Click here to sign up for an account with {{ broker.name }}</a>

    <p class="lead">{{ broker.highlight }}</p>

    <h3>Broker Information</h3>
    <ul>
        <li>
            Regulations:
            {% for regulation in broker.regulations %}
                <abbr title="{{ regulation.regulator.name }}">{{ regulation.regulator.abbr }}</abbr>
            {% endfor %}
        </li>
        <li>
            Equity Holdings:
            {% for currency in broker.equityHoldingCurriencies %}
                <abbr title="{{ currency.name }}">{{ currency.abbr }}</abbr>
            {% endfor %}
        </li>
        <li>Year Founded: {{ broker.yearFounded }}</li>
    </ul>
    <table class="table">
        <tr>
            <th>Account Type</th>
            <th>Min Deposit</th>
            <th>Max Leverage</th>
            <th>Execution</th>
            <th>Platform(s)</th>
        <tr>
        {% for accountType in broker.accountTypes %}
            <tr>
                <td>{{ accountType.name }}</td>
                <td>{{ accountType.minDeposit }}</td>
                <td>{{ accountType.maxLeverage }}</td>
                <td>
                    {% for executionType in accountType.executionTypes %}
                        {% if not loop.first %}, {% endif %} <abbr title="{{ executionType.description }}">{{ executionType.abbr }}</abbr>
                    {% else %}
                        N/A
                    {% endfor %}
                </td>
                <td>
                    {% for platform in accountType.tradingPlatforms %}
                        {% if not loop.first %}, {% endif %} <abbr title="{{ platform.description }}">{{ platform.abbr }}</abbr>
                    {% else %}
                        N/A
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
