{% extends "ForexWebBundle:Layout:sidebar.html.twig" %}

{% block content %}
    <h2>How do I get started?</h2>
    <ol class="unstyled">
        <li><b>Step 1</b> - <strong><a href="{{ path('fos_user_registration_register') }}" class="text-info">Create a ForexCashBack account</a></strong></li>
        <li>
            <b>Step 2</b> - After creating your account, view our <a href="{{ path('broker_list') }}">broker comparison table</a>, find your broker, and click on the broker you either want to open a trading account with or already have an account with.
            <ul>
                <li>If you are opening a new account, follow the instructions on the broker page.</li>
                <li>If you have an existing account, <a href="{{ path('contact') }}">contact us</a> to ensure that you can</li>
            </ul>
        </li>
        <li>
            <b>Step 3</b> - Give us your broker account information.
            <ul>
                <li>While logged in, click on <a href="{{ path('account_list') }}">My Accounts</a> and add the account</li>
                <li>If you have any difficulty, just <a href="{{ path('contact') }}">call or email us</a> and we'll be happy to create/update your broker account information</li>
            </ul>
        </li>
        <li><b>Step 4</b> - Choose your payment method, and you will be paid at least once per month, for more detailed information please see the payments faq.</li>
    </ol>
{% endblock %}
