{% extends "ForexWebBundle:Layout:sidebar.html.twig" %}

{% block body_class 'homepage' %}

{% block content %}
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-01.jpg" />
                <div class="carousel-caption">
                    <h4>Freedom to choose your broker</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
            <div class="item">…</div>
            <div class="item">…</div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <h1 class="paid-to-trade title">Get paid to trade at <i>your</i> Forex Broker</h1>
    <p class="lead text-success">Don't miss out on thousands of dollars a year</p>

    <h2 class="subtitle">How does this work?</h2>
    <div class="how-it-works home-section">
        <div class="pad">
            <p>
                When you open a trading account through us we earn a commission from your broker for each trade you place.
                From this commission we in turn <em class="text-success highlight" >pay you cash</em> for each trade you place.
            </p>
            <p>
                <b>Your spreads and trading conditions <em>DO NOT</em> change</b>, they remain the same as if you had opened an account directly with the broker.
                Please read further on below for more details about our company and service.
            </p>
        </div>
    </div>

    <hr>

    <h2 class="subtitle">What we do</h2>
    <div class="home-section">
        <div class="pad">
            <p>
                Our service pays you cash for each trade you place at many <a href="{{ path('broker_list') }}" class="highlight">industry leading currency trading brokers</a>.
            </p>
            <p>
                The spreads and trading conditions at the brokers we represent are never adversely affected by opening an account through us.
                Cash rebates are paid on a monthly basis and can amount to very substantial savings, <b>always increasing a trader's bottom line</b> and often even making the difference between profit and loss.
            </p>
            <p>
                Our friendly and knowledgeable support staff is available to assist with questions or problems most hours of the day via live chat, telephone, and email.
            </p>
            <p>
                <a href="{{ path('contact') }}" class="btn btn-info">Contact Us <small>(We are here to help)</small></a>
            </p>
        </div>
    </div>

    <hr>

    <h2 class="subtitle">How it works</h2>
    <div class="home-section">
        <div class="pad">
            <p>
                How can we pay you for each trade you place without somehow adversely affecting trading conditions?<br>
                The answer is simple.
            </p>
            <p>
                We are paid a commission from the marketing budget of the <a href="{{ path('broker_list') }}" class="highlight">brokerage firms we represent</a> for each trade placed by a client we introduce to them, or who otherwise engages us as their '<em>Introducing Broker</em>'.<br>
                We in turn keep only a portion of the commission and pass much of it onto our client.
            </p>
            <p>
                Our clients get the <b>same spreads and conditions</b> as if they had opened an account directly with the broker, the only difference is a client that goes through us gets a cash commission for every trade placed on their account.<br>
                Our service is an effective broker marketing tool. The brokers we represent are happy to pay us a volume based commission for the opportunity to appear on our website and gain clients.
            </p>
            <p>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">Get Started Today</a>
            </p>
        </div>
    </div>

    <hr>

    <h2 class="subtitle">When and how will I receive my payment?</h2>
    <div class="home-section">
        <div class="pad">
            <p>
                Rebates are paid on a monthly basis no later than the 25th of the month following the month commissions were earned in.
                The actual payment date varies based on the broker(s) and payment method you choose, please see the payments faq for more detailed information.
            </p>
        </div>
    </div>

    <hr>

    <h2 class="subtitle">How do I get started?</h2>
    <div class="home-section">
        <div class="pad">
            <ol class="unstyled">
                <li><b>Step 1</b> - <strong><a href="{{ path('fos_user_registration_register') }}" class="text-info">Create a ForexCashBack account</a></strong></li>
                <li>
                    <b>Step 2</b> - After creating your account, view our <a href="{{ path('broker_list') }}">broker comparison table</a>, find your broker, and click on the broker you either want to open a trading account with or already have an account with.
                    <ul>
                        <li>If you are opening a new account, follow the instructions on the broker page.</li>
                        <li>If you have an existing account, <a href="{{ path('contact') }}">contact us</a> to ensure that you can</li>
                    </ul>
                </li>
                <li>
                    <b>Step 3</b> - Give us your broker account information.
                    <ul>
                        <li>While logged in, click on <a href="{{ path('account_list') }}">My Accounts</a> and add the account</li>
                        <li>If you have any difficulty, just <a href="{{ path('contact') }}">call or email us</a> and we'll be happy to create/update your broker account information</li>
                    </ul>
                </li>
                <li><b>Step 4</b> - Choose your payment method, and you will be paid at least once per month, for more detailed information please see the payments faq.</li>
            </ol>
        </div>
    </div>
{% endblock %}
