{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block body_class 'dashboard' %}

{% block content %}
    <h2>Hi {{ app.user.username }}, this is your personal dashboard</h2>
    <p class="muted">Your dashboard is all of your information at a glance. If you have any questions, please <a href="{{ path('contact') }}">contact us</a>, we'll be more than happy to help answer any questions.</p>

    {% if app.user.accounts|length == 0 %}
        <div class="alert alert-error">
            <p>You do not have an broker trading accounts registered with us. Please sign up with your Broker via our <a href="{{ path('broker_list') }}" class="text-error"><strong>Broker Comparison Page</strong></a>, then add your account.</p>
        </div>
    {% endif %}
    <hr>

    <h3><a href="{{ path('payout_list') }}">Your current payout balance: ${{ user.currentPayoutBalance(true)|number_format(2, '.', ',') }}</a></h3>
    <hr>

    <h3><a href="{{ path('account_list') }}">Manage Broker Trading Accounts</a></h3>

    <table class="table">
        <tr>
            <th>Account ID</th>
            <th>Brokerage</th>
            <th>Account Number</th>
            <th>Account Status</th>
        </tr>
        {% for account in user.accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.broker.name }}</td>
                <td>{{ account.accountNumber}}</td>
                <td class="{% if account.status == 'verified'%}text-success{% elseif account.status == 'unverified' %}text-info{% else %}text-error{% endif %}">{{ account.status }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
