{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block content %}
    <h2>Register a complaint</h2>

    <p class="muted">
        If you have a complaint with a broker, please file it in the form below.<br>
        We take each complaint seriously, so please give us enough information to throughly investigate.
    </p>

    {% if is_granted('ROLE_USER') %}
        <form action="{{ path('feedback_complaint') }}" method="post">
            {{ form_label(form.broker) }}
            {{ form_errors(form.broker) }}
            {{ form_widget(form.broker) }}

            {{ form_label(form.complaint) }}
            {{ form_errors(form.complaint) }}
            {{ form_widget(form.complaint, {attr: {placeholder: 'ex. Did not receive correct funds'}}) }}

            <button class="btn btn-info">Submit Complaint</button>

            {{ form_rest(form) }}
        </form>
    {% else %}
        <p class="text-error">
            You must be logged in to register a complaint.<br>
            This ensures that we can correctly track the request.
        </p>
        <p>
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Create Account <small>(its free)</small></a>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-success" style="margin-left: 10px;">{% trans %}user.login{% endtrans %}</a>
        </p>
    {% endif %}
{% endblock %}
