{% extends "ForexWebBundle:Layout:base.html.twig" %}

{% block content %}
    <h2>Our Brokers</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Min Deposit</th>
                <th>Max Leverage</th>
                <th>Website</th>
                <th>Year Founded</th>
            </tr>
        </thead>
        <tbody>
            {% for broker in brokers %}
                <tr>
                    <td>
                        <b>{{ broker.name }}</b><br />
                        <small class="muted">{{ broker.companyName }}</small><br />
                        <img src="{{ asset(broker.rectangleImagePath) }}">
                    </td>
                    <td>{{ broker.minDeposit }}</td>
                    <td>{{ broker.maxLeverage }}</td>
                    <td>{{ broker.website }}</td>
                    <td>{{ broker.yearFounded }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
