{% extends "ForexWebBundle:Layout:nosidebar.html.twig" %}

{% block title %}Current Promotions - {% endblock %}

{% block content %}
    <h2>Promotions</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Broker</th>
                <th>Promotion</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>
                        <a href="{{ path('broker_view', {slug: promotion.broker.slug}) }}">
                            <b>{{ promotion.title }}</b><br />
                            <img src="{{ asset(promotion.broker.rectangleImagePath) }}">
                        </a>
                    </td>
                    <td>{{ promotion.text }}</td>
                    <td><a href="{{ path('promotion_view', {slug: promotion.slug}) }}" class="btn btn-info btn-small">View Promotion Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
