<nav class="nav-container" id="nav">
    <div class="inner-width">
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="{{ path('homepage') }}"><i class="icon-home"></i> Home</a></li>
                <li><a href="{{ path('broker_list') }}"><i class="icon-th-list"></i> {% trans %}nav.brokers{% endtrans %}</a></li>
                <li><a href="{{ path('referral-program') }}"><i class="icon-refresh"></i> {% trans %}nav.referral_program{% endtrans %}</a></li>
                <li class="dropdown navbar-dropdown">
                    <a href="#" id="nav-help-dropdown" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign"></i> {% trans %}nav.help{% endtrans %} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="nav-help-dropdown">
                        <li><a tabindex="-1" href="{{ path('contact') }}"><i class="icon-question-sign"></i> {% trans %}nav.contact_us{% endtrans %}</a></li>
                        <li><a tabindex="-1" href="{{ path('getting-started') }}"><i class="icon-play-circle"></i> How to Get Started</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ path('faq') }}">{% trans %}nav.faq.general{% endtrans %}</a></li>
                        <li><a tabindex="-1" href="{{ path('who-we-are') }}">Who We Are</a></li>
                        <li><a tabindex="-1" href="{{ path('how-to-choose-a-broker') }}">How To Choose A Broker</a></li>
                        <li><a tabindex="-1" href="{{ path('earning-potential') }}">Earning Potential</a></li>
                        <li><a tabindex="-1" href="{{ path('residual-income') }}">How To Create Residual Income</a></li>
                        <li><a tabindex="-1" href="{{ path('feedback_complaint') }}">{% trans %}nav.help.feedback_complaint{% endtrans %}</a></li>
                        <li><a tabindex="-1" href="{{ path('payment-methods') }}">{% trans %}nav.payment_methods{% endtrans %}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown navbar-dropdown">
                        <a href="{{ path('fos_user_profile_show') }}" id="nav-account-dropdown" class="dropdown-toggle" data-toggle="dropdown" data-target="#"><i class="icon-user"></i> My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="nav-account-dropdown">
                            <li><a tabindex="-1" href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> {% trans %}account.my_profile{% endtrans %}</a></li>
                            <li><a tabindex="-1" href="{{ path('account_list') }}"><i class="icon-star"></i> {% trans %}account.my_accounts{% endtrans %}</a></li>
                            <li><a tabindex="-1" href="{{ path('payout_list') }}"><i class="icon-download"></i> {% trans %}account.my_payouts{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="{{ path('referral_home') }}"><i class="icon-refresh"></i> {% trans %}account.my_referrals{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> {% trans %}user.logout{% endtrans %}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{% trans %}user.login{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}user.create_account{% endtrans %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>