<div class="section getting-started">
    <h5>How to get started</h5>
    <ol class="unstyled">
        <li class="step-1"><a href="{{ path('fos_user_registration_register') }}">Step 1 - Sign Up</a></li>
        <li class="step-2"><a href="{{ path('broker_list') }}">Step 2 - Choose A Broker</a></li>
        <li class="step-3">Step 3 - Make Trades</li>
        <li class="step-4">Step 4 - Get Money Back</li>
    </ol>
</div>

<div class="section">
    <h5>Current Rates</h5>

    {% render url('_sidebar_broker_rates') %}
</div>

<div class="section">
    <h5>Cashback Estimator</h5>
    <form action="#" class="form form-inline" id="cb_est">
        <label for="cb_est_volume">Volume</label>
        <select id="cb_est_volume">
            <option value="1">1 Lot (100,000 units)</option>
            <option value=".1">.1 Lot (10,000 units)</option>
            <option value=".01">.01 Lot (1,000 units)</option>
        </select>

        <label for="cb_est_trades"># trades/day</label>
        <input id="cb_est_trades" type="text" value="20">

        <label for="cb_est_rate">Cash back Rate</label>
        <select id="cb_est_rate">
        {% for pips in ['.1', '.15', '.2', '.25', '.3', '.35', '.4', '.45', '.5', '.55', '.6', '.65', '.7', '.75', '.8', '.85', '.9', '.95', '1', '1.1', '1.2', '1.3', '1.4', '1.5', '1.6'] %}
            <option value="{{ pips }}">{{ pips }} Pips</option>
        {% endfor %}
        </select>

        <button class="btn btn-success" id="cb_est_calculate">Calculate</button>

        <fieldset>
            <legend>Estimated Earnings</legend>
            <p>Monthly Earnings $<span id="cs_est_monthly_earnings">0</span></p>
            <p>Yearly Earnings $<span id="cs_est_yearly_earnings">0</span></p>
        </fieldset>
    </form>
</div>

<div class="section">
    {{ render(controller('ForexWebBundle:Feedback:brokerSuggestion')) }}
</div>

<div class="section">
    <h5>Sign up</h5>
    <p>What are you waiting for?</p>
    <p><a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-large">Sign up now</a></p>
</div>
