<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <title>{% block title 'Forex' %}</title>
    {% stylesheets 'css/main.less' filter='less' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="../components/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div id="accountBar">
        <div class="container">
            <p>Welcome to Forex Cash Back</p>
            <ul class="pull-right inline">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Create Account</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h1>Forex Cash Back</h1>
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">Home</a>
                        <a class="brand" href="{{ path('faq') }}">FAQs</a>
                        <a class="brand" href="{{ path('brokers') }}">Brokers</a>
                        <a class="brand" href="/">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert">×</a>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content 'Default Content' %}
        </div>
    </div>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
