<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Arapey|Noto+Sans' rel='stylesheet' type='text/css'>
    <title>{% block title '' %}Forex Cash Back - The World Wide Leader in Forex Rebates</title>
    {% stylesheets 'css/main.less' filter='less' output='compiled/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description 'Forex Cash Back - The World Wide Leader in Forex Rebates; Highest Forex Broker Cash Back
and Pip Rebates up to 80% of Spread' %}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body class="{% block body_class '' %}">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container header-container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="brand" id="site-header" href="{{ path('homepage') }}">Forex Cash Back</a></h1>
                <h2 class="tagline">World Wide Leader in Forex Rebates</h2>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i> Home</a></li>
                        <li><a href="{{ path('broker_list') }}"><i class="icon-th-list"></i> {% trans %}nav.brokers{% endtrans %}</a></li>
                        <li><a href="{{ path('referral-program') }}"><i class="icon-refresh"></i> {% trans %}nav.referral_program{% endtrans %}</a></li>
                        <li class="dropdown navbar-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign"></i> {% trans %}nav.help{% endtrans %} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                <li><a tabindex="-1" href="{{ path('getting-started') }}">How to Get Started</a></li>
                                <li><a tabindex="-1" href="{{ path('contact') }}">{% trans %}nav.contact_us{% endtrans %}</a></li>
                                <li><a tabindex="-1" href="{{ path('faq') }}">{% trans %}nav.faq.general{% endtrans %}</a></li>
                                <li><a tabindex="-1" href="{{ path('who-we-are') }}">Who We Are</a></li>
                                <li><a tabindex="-1" href="{{ path('how-to-choose-a-broker') }}">How To Choose A Broker</a></li>
                                <li><a tabindex="-1" href="{{ path('earning-potential') }}">Earning Potential</a></li>
                                <li><a tabindex="-1" href="{{ path('residual-income') }}">How To Create Residual Income</a></li>
                                <li><a tabindex="-1" href="{{ path('feedback_complaint') }}">{% trans %}nav.help.feedback_complaint{% endtrans %}</a></li>
                                <li><a tabindex="-1" href="{{ path('payment-methods') }}">{% trans %}nav.payment_methods{% endtrans %}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if is_granted('ROLE_USER') %}
                            <li class="dropdown navbar-dropdown">
                                <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown" data-target="#"><i class="icon-user"></i> My Account <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a tabindex="-1" href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> {% trans %}account.my_profile{% endtrans %}</a></li>
                                    <li><a tabindex="-1" href="{{ path('account_list') }}"><i class="icon-star"></i> {% trans %}account.my_accounts{% endtrans %}</a></li>
                                    <li><a tabindex="-1" href="{{ path('payout_list') }}"><i class="icon-download"></i> {% trans %}account.my_payouts{% endtrans %}</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="{{ path('referral_home') }}"><i class="icon-refresh"></i> {% trans %}account.my_referrals{% endtrans %}</a></li>
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> {% trans %}user.logout{% endtrans %}</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{% trans %}user.login{% endtrans %}</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}user.create_account{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-content">
        {% if is_granted('ROLE_USER') and app.user.accounts|length == 0 %}
            <div class="alert alert-success persistent-reminder">
                <p><strong>Next Step:</strong> Please <a class="text-success" href="{{ path('account_list') }}"><strong>Add your Broker Account Trading Number</strong></a> after signing up with your Broker via our <a class="text-success" href="{{ path('broker_list') }}"><strong>Broker Comparison Page</strong></a></p>
            </div>
        {% endif %}
        <div>
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert">×</a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block _content '' %}
    </div>

    <footer class="footer" id="footer">
        <div class="container">
            <div class="row high-risk">
                <strong>High Risk Warning:</strong>
                <p class="warning-text">Forex, Futures, and Options trading has large potential rewards, but also large potential risks.  The high degree of leverage can work against you as well as for you.  You must be aware of the risks of investing in forex, futures, and options and be willing to accept them in order to trade in these markets.  Forex trading involves substantial risk of loss and is not suitable for all investors.  Please do not trade with borrowed money or money you cannot afford to lose.</p>
                <p class="warning-text">This website is neither a solicitation nor an offer to Buy or Sell currencies, futures, or options.  No representation is being made that any account will or is likely to achieve profits or losses similar to those discussed on this website.  Any opinions, news, research, analysis, prices, or other information contained on this website is provided as general market commentary and does not constitute investment advice.  Website owners and affiliates will not accept liability for any loss or damage, including without limitation to, any loss of profit, which may arise directly or indirectly from the use of or reliance on such information.  Please remember that the past performance of any trading system or methodology is not necessarily indicative of future results.</p>
            </div>
            <div class="row">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".footer-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="brand">&copy; 2013 ForexCashBack</span>
                            <div class="navbar-collapse footer-collapse">
                                <ul class="nav pull-right">
                                    <li><a href="{{ path('fos_user_registration_register') }}">Create Account</a></li>
                                    <li class="divider-vertical"></li>
                                    <li><a href="{{ path('registration-agreement') }}">Registration Agreement</a></li>
                                    <li class="divider-vertical"></li>
                                    <li><a href="{{ path('privacy-policy') }}" >Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/bootstrap-tooltip.js'
        'components/bootstrap/js/bootstrap-alert.js'
        'components/bootstrap/js/bootstrap-button.js'
        'components/bootstrap/js/bootstrap-dropdown.js'
        'components/bootstrap/js/bootstrap-collapse.js'
        'js/cashback-estimator.js'
        output='compiled/js/forex.js'
        filter='?uglifyjs2'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43681086-1', 'forexcashback.com');
      ga('send', 'pageview');
    </script>
</body>
</html>
