{% if form is defined and form %}{% form_theme form 'ForexWebBundle::form_theme.html.twig' %}{% endif %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Arapey|Noto+Sans|Helvetica+Neue' rel='stylesheet' type='text/css'>
    <title>{% block title '' %}Forex Cash Back - The World Wide Leader in Forex Rebates</title>
    <link rel="stylesheet" href="/css/forex.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description 'Forex Cash Back - The World Wide Leader in Forex Rebates; Highest Forex Broker Cash Back
and Pip Rebates up to 80% of Spread' %}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body class="{% block body_class '' %}">
    <div class="container">

        {% include "ForexWebBundle:Layout:_header.html.twig" %}

        {% include "ForexWebBundle:Layout:_nav.html.twig" %}

        <content class="main-container" id="content">
            <div class="inner-width">
                {% set _exclude_routes = ['account_list', 'account_add', 'account_new', 'contact', 'homepage', 'fos_user_registration_confirmed'] %}
                {% if is_granted('ROLE_USER') and app.user.accounts|length == 0 and not (app.request.attributes.get('_route') in _exclude_routes) %}
                    <div class="alert alert-success persistent-reminder">
                        <p><strong>Next Step:</strong> Please <a class="text-success" href="{{ path('account_add') }}"><strong>Add your Broker Account Trading Number</strong></a> after signing up with your Broker via our <a class="text-success" href="{{ path('broker_list') }}"><strong>Broker Comparison Page</strong></a></p>
                    </div>
                {% endif %}
                <div>
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert">×</a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                {% block _content '' %}
            </div>
        </content>

        {% include "ForexWebBundle:Layout:_footer.html.twig" %}

    </div>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/bootstrap-tooltip.js'
        'components/bootstrap/js/bootstrap-alert.js'
        'components/bootstrap/js/bootstrap-button.js'
        'components/bootstrap/js/bootstrap-dropdown.js'
        'components/bootstrap/js/bootstrap-collapse.js'
        'js/modules/nivo/jquery.nivo.slider.pack.js'
        'js/cashback-estimator.js'
        output='compiled/js/forex.js'
        filter='?uglifyjs2'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43681086-1', 'forexcashback.com');
      ga('send', 'pageview');

      $(function() {
        $('#slider').nivoSlider({
            effect: 'random',
            pauseTime: 7000
        });
      });
    </script>

</body>
</html>
